<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" />
</head>
<body>
<div class="container-fluid text-center">
    <div><h1>Manage Users</h1></div>
    <div class="m-4">
        <a class="h3" th:href="@{/users/new}"> ADD New User</a>
    </div>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>E-mail</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${employeeList}">
                <tr>
                    <td> [[${user.employeeId}]] </td>
                    <td> [[${user.email}]] </td>
                    <td> [[${user.firstName}]] </td>
                    <td> [[${user.lastName}]] </td>
                    <td>
                        <a class="h4 mr-2"  th:href="@{'/users/edit/' + ${user.employeeId}}">Edit</a>
                        <a class="h4" th:href="@{'/users/delete/' + ${user.employeeId}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>